.profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 50px;

}
h1 {
    margin: 0;
    padding: 0;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 20px;
}

h2 {
    margin: 0;
    padding: 0;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 20px;
}
p {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    width: auto;
    font-size:  1rem;
    padding-right: 20px;
}
h3 {
    margin: 0;
    padding: 0;
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 20px;

}

.email {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 70%;
    align-items: start;
}

.email input , .password input {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    align-items: start;
    margin-top: 20px;
    padding: 5px;
}




.profile label {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    align-items: start;
    margin-bottom:  20px;
    margin-top: 20px;

}

.password {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    align-items: start;

}

ul {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
}

.artwork-card {
    max-width: 200px;
    max-height: 300px;
}

.artwork-card img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 5px;
    transition: box-shadow 0.3s ease-in-out;
    cursor: pointer;
  }

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    width: 100%;
    margin-top: 20px;
}

.row div  {
    flex: 1;

}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 20px;
}

Button {
    margin: auto;
    margin-left: 0;
}